[2021-12-14 23:34] abhyshr opened #376 "ExaGO failure with HIOP"
I am seeing a divergence of Stochastic OPF (SOPFLOW) when the initial guess for the solver is changed. This is with HiOp NewtonMDS on the CPU and with HIOPSPARSE. The command to run is:

[code]
Change to -opflow_subproblem_solver HIOPSPARSE -opflow_subproblem_model POWER_BALANCE_POLAR to switch to using Hiop sparse solver.

Here's what the output for a subproblem looks like before it hangs.

[code

[2021-12-15 12:28] abhyshr commented on #376
`./sopflow -netfile ../share/exago/datafiles/case_ACTIVSg200.m -scenfile ../share/exago/datafiles/10_scenarios_ACTIVSg200.csv -sopflow_solver HIOP -sopflow_Ns 2 -opfflow_initialization ACPF -opflow_ignore_lineflow_constraints 1 -sopflow_subproblem_solver HIOPSPARSE -sopflow_subproblem_model POWER_BALANCE_POLAR -hiop_compute_mode CPU -hiop_verbosity_level 3 -sopflow_mode 1 -sopflow_Nc 0 -sopflow_Ns

[2021-12-15 12:38] abhyshr commented on #376
I am working on debugging it right now. will send you a note if I find anything.

[2021-12-15 15:08] abhyshr commented on #376
I've created a new branch for ExaGO `sopflow/debug-hiop-acpf-divergence` to debug this divergence issue (made a small change to variable bounds to make the models same). The attached files have the variable bounds and x0 with different solvers and initialization type.
x0_hiop_midpoint.txt -- x0 (and bounds) when using hiop MDS solver with MIDPOINT initialization.
x0_hiop_acpf.txt -- Same with ACPF

[2021-12-20 21:57] abhyshr opened #380 "Incorrect (?) objective value"
I am running an ExaGO case with HIOP MDS solver where its giving me an objective value that is totally different than what's expected.

This is the run with HIOP MDS solver for OPFLOW (opflow/refactor-powerimbalance branch)
[code]
and this is the solution with the IPOPT adapter
[code]

4.1444615e+03 is the correct objective value. So, I am not sure why HIOP MDS is returning 5.4445080e+02. Note tha

[2021-12-20 22:31] abhyshr commented on #380
Just checked sparse HIOP solver and it also returns 5.4445080e+02.

[code]

[2021-12-20 22:32] abhyshr commented on #380
I am updating HIOP to 0.5.3 and will report back on what I get.

[2021-12-21 11:02] nychiang commented on #380
@abhyshr keep me posted!
Everything looks fine with hiop 0.5.3. It seems hiop can converge really faster, which may be caused by some different parameter settings.
I attach the solution I obtained from hiopsparse. It seems to me that all the primal vars are identical while the values of mult_xxxx (duals?) are different from the ipopt solution.

===============
Hiop SOLVER
===============
Using 1 M

[2021-12-21 15:29] cnpetra commented on #380
let us know. Also, tighten up the tolerance for hiop. The primal and dual infeasibilities are a bit large and may explain the much lower objective value, especially since you have a large penalty.

[2021-12-21 15:51] abhyshr commented on #380
I've upgraded to HiOP 0.5.3, but unfortunately I am getting the same answer as above. The branch I am using is opflow/refactor-powerimbalance.

[2021-12-21 16:38] cnpetra commented on #380
just to clarify: same (lower) objective for both MDS and sparse solvers? With tight tolerance -> 1e-8 ?

[2021-12-21 16:45] abhyshr commented on #380
### HIOP sparse solver with tolerance 1e-10
[code]

### HIOP MDS (CPU) solver with tolerance 1e-10
[code]

### HIOP with using IPOPT adapter with 1e-10 tolerance
[code]

[2021-12-21 17:19] jwang125 commented on #380
Hi Shri,
I just tested on Summit and I cannot reproduce this error. The first step in your result is clearly wrong. I don't know why though. My hiop is develop and exago is develop as well.
[code]

[2021-12-21 18:17] jwang125 commented on #380
The command I ran is
`./opflow -netfile ../share/exago/datafiles/case9/case9mod.m -opflow_solver HIOP -opflow_model POWER_BALANCE_HIOP -hiop_compute_mode CPU -hiop_verbosity_level 3 -print_output -opflow_include_powerimbalance_variables 1`
that I copied from Shri's initial one. I did set ipopt to relax bounds.

[2021-12-21 18:18] jwang125 commented on #380
Trying to run with opflow/refactor-powerimbalance. Won't compile. Seems to be using a newer version of petsc?

[2021-12-21 18:42] abhyshr commented on #380
Yes, you need PETSc 3.16.2

[2021-12-22 00:20] nychiang commented on #380
Problem solved! The difference in the objective is caused by the fixed variable.
We can use the following setting in hiop,
[code]
to push the fixed variable closer to the given value.
After we apply this change, hiop return the correct objective.

Another observation is that, for ipopt, using the following parameters can speed up the convergence, i.e., 20+ iters v.s. 80+ iters for this example.
[c

[2021-12-22 18:12] ashermancinelli opened #381 "HiOp test failure with MKL on OSX"
Building with MKL, GCC11 on osx gives

[code]

Full log here: [nlpDenseCons_ex3.exe.log](https://github.com/LLNL/hiop/files/7764459/nlpDenseCons_ex3.exe.log)

[2021-12-22 18:12] ashermancinelli commented on #381
CC @cnpetra, based on our convo offline.

[2021-12-22 19:44] andersp commented on #381
I'm still having problems getting make test to pick up the mkl dylib on my mac laptop. I attach some log files.
[CMakeCache.txt](https://github.com/LLNL/hiop/files/7764852/CMakeCache.txt)
[LastTest.log](https://github.com/LLNL/hiop/files/7764862/LastTest.log)

[2021-12-22 20:10] ashermancinelli commented on #381
Could you paste a full transcript of your shell session, along with anything in your `~/.bashrc` that might be getting in the way? For example, here is what works for me:
[code]

And just for good measure:
[code]

[2021-12-22 20:13] andersp commented on #381
(base) chebyshev:build petersson1$ otool -L ./tests/testVector
./tests/testVector:
	/usr/local/opt/libomp/lib/libomp.dylib (compatibility version 5.0.0, current version 5.0.0)
	@rpath/libmkl_intel_lp64.2.dylib (compatibility version 0.0.0, current version 0.0.0)
	@rpath/libmkl_sequential.2.dylib (compatibility version 0.0.0, current version 0.0.0)
	@rpath/libmkl_core.2.dylib (compatibility version

[2021-12-22 20:19] andersp commented on #381
[bash_profile.gz](https://github.com/LLNL/hiop/files/7765011/bash_profile.gz)

[2021-12-22 20:56] cnpetra commented on #381
anaconda tends to mess up user profile even after `conda deactivate` ... remove anything anaconda related from bash profile and try again...

[2021-12-22 22:58] andersp commented on #381
Commenting out the conda stuff made no difference :-(

[2021-12-23 17:45] andersp commented on #381
I noticed the all tests pass if I run 'ctest' instead of 'make test'.

[2021-12-23 17:56] jwang125 commented on #381
Hi, are you using the develop branch of hiop? This was an issue for me as well but it was fixed I think two weeks ago. https://github.com/LLNL/hiop/pull/365

[2021-12-23 18:10] cnpetra commented on #381
Then I would say go ahead and use HiOp with your code. To confirm everything is fine, run any of the executables in `build/src/Drivers`

A potential fix is to not use intel mkl (also disable anaconda) and let cmake pick the blas and lapack that comes with laptop (at least my Mac comes with Accelerate versions of these).

I would be happy to stop by your office and troubleshoot more. There is defin

[2021-12-23 19:37] andersp commented on #381
@jwang125 I tried switching to the develop branch but it has the same problem with 'make test'. The tests do pass with 'ctest', so I think my installation is ok.

[2021-12-23 19:43] andersp opened #382 "Casting error in hiopInterface.hpp"
When compiling my interface routines I get the following error after including hiopInterface.hpp:

/Users/petersson1//include/hiopInterface.hpp:250:60: error: static_cast from 'void *' to 'int' is not allowed
  virtual bool get_MPI_comm(MPI_Comm& comm_out) { comm_out=MPI_COMM_WORLD; return true;}

I looked in hiopMPI.hpp and it looks like MPI_Comm is defined to be an int. Shouldn't it be a 'void *

[2021-12-23 21:11] jwang125 commented on #382
It is an int only if MPI is not defined and we use int to substitute MPI_Comm in the code. And MPI_COMM_WORLD in this case would be 0, an int value.

[2021-12-23 21:12] jwang125 commented on #381
OK. Then I don't know what the issue is. It worked fine on Lassen for me. There is a different issue on summit. Could be related to the system you're using.

[2021-12-23 21:35] andersp commented on #382
That is obviously not true in this case because the compiler complains about a casting error. In my case, I am only using hiop in serial, but my code uses MPI to compute the objective and its gradient. Would it help to build hiop with -DHIOP_USE_MPI=On ?

[2021-12-23 21:38] andersp commented on #381
@jwang125 I'm on a mac :-)

[2021-12-23 21:45] andersp commented on #381
I switched to building hiop with HIOP_USE_MPI=On. Now one to the tests (with ctest) fails:
The following tests FAILED:
	 16 - NlpDenseCons3_50K_mpi (Failed)
Errors while running CTest

It seems to be running on 2 mpi tasks and exits with this message:
Panic: minimum step size reached. The problem may be infeasible or the gradient inaccurate. Try to restore feasibility.
  16  2.0257870e+02 1.479e-0

[2021-12-23 21:52] abhyshr commented on #380
Thanks for tracking down the issue, Nai-yuan! Using `bound_relax_perturb = 1e-8` does indeed resolve the issue. However, there is a side-effect we are seeing on our other application that uses primal decomposition solver. Basically, we are seeing very large lagrangian multiplier values when using HIOP MDS solver causing primal decomposition to not converge. I'll create a separate issue with detail

[2021-12-23 21:52] #380 closed

[2021-12-23 21:59] jwang125 commented on #381
When MPI is on, the test is run with 2 ranks but the same problem. I just ran it on Lassen and it was working. No panic step. We can have a quick meeting if you want.

[2021-12-23 22:05] andersp commented on #381
Sounds good. I will setup a webex meeting

[2021-12-23 22:08] jwang125 commented on #382
That was the intention at least. It should because then MPI_COMM will just be defined by mpi.h. Let me know if that works.

[2021-12-23 22:09] andersp commented on #381
@jwang125 what's you're email?

[2021-12-23 22:09] jwang125 commented on #381
wang125@llnl.gov

[2021-12-23 22:25] nychiang commented on #381
@andersp @jwang125 please forward me the meeting invitation

[2021-12-23 22:45] nychiang commented on #381
@ashermancinelli
I am using macOS BigSur, gcc v11.2.0, openmpi and xcode default blas and lapack, and all the tests work fine for me.
However, I admit that I do observe this error couple of times, on mac/lassen/quartz/ascent.
This problem is a hard one and it fails due to the different version of HiOp dependencies, e.g., MPI.
The rounding errors make the steps slightly different from the ones on t

[2021-12-23 22:49] jwang125 commented on #381
Sorry we didn't see this message in time. We manged to compile but there are still some warnings from MacOS like version not compatiable. I will let Anders contact you if there are any new issues.

[2021-12-23 22:51] andersp commented on #381
@nychiang sorry, I didn't see your message until now. Frank helped my sort out a couple of other issues with my code, so at least it builds now. I still need to figure out what flags to give the linker to pick up the MKL blas and lapack.

[2021-12-23 22:56] nychiang commented on #381
@andersp probably -DLAPACK_LIBRARIES. I set -DLAPACK_LIBRARIES="-lessl -llapack" on lassen to use essl and lapack in the system search path.

[2021-12-24 00:28] cnpetra commented on #382
yes, use `-DHIOP_USE_MPI=ON`

you also need to set up HiOp to run on one process only in your parallel simulation, pm me/us if you need help.

We will fix the casting error, it occurs only with ompi... mpich defines MPI_Comm as an int if I recall correctly...

[2021-12-24 01:00] andersp commented on #381
The build process works perfectly if I remove the MKL directory from the DYLD_LIBRARY_PATH and instead use these flags:
cmake --install-prefix=/Users/petersson1 -DHIOP_USE_MPI=ON -DLAPACK_LIBRARIES="-framework Accelerate" ..
make
make test
make install

[2021-12-24 01:24] andersp commented on #381
By the way, test #16 only failed once. Perhaps there is a memory bug, like an uninitialized variable lurking somewhere?

[2021-12-24 02:36] nychiang commented on #381
@andersp Do you mean it works now, after you remove MKL? I guess it still fails when MKL is used. @ashermancinelli

[2021-12-24 03:32] ashermancinelli commented on #381
quick note:
[code]

Also, I'm not surprised to hear MKL seems to be the issue as [that's the original problem that motivated this issue.](https://github.com/LLNL/hiop/issues/381#issue-1087066814) If Apple's Accelerate library works and that suites you @andersp, I would recommend it. Most of our tests run with openblas, but we've tested with essl and cray's libsci as well. We will look into this @a

[2021-12-28 18:19] #287 closed

[2021-12-28 18:19] #306 closed

[2021-12-28 18:19] #371 closed

[2021-12-28 18:28] cnpetra commented on #381
test 16 fails because of loss of accuracy in a linear solve. I've seen it happening with some lapack distributions. @andersp you can safely ignore it for now.

[2021-12-28 18:29] #358 closed

[2021-12-28 20:45] #338 closed

[2021-12-31 08:33] nychiang commented on #376
It seems this bug has been fixed in the latest release of HiOp.
Please confirm and we can close this issue. @abhyshr

[2022-01-05 01:17] andersp opened #387 "error in the dense factorization"
When using HiOp on the LC cluster quartz, I get the following error:
.../hiopAlgFilterIPM.cpp:1188: hiop::hiopSolveStatus hiop::hiopAlgFilterIPMQuasiNewton::run(): Assertion `bret' failed.

Any idea whats going on?

[2022-01-05 01:43] nychiang commented on #387
Can you create a file `hiop.options` at the folder where you run your code, which includes the following lines:
[code]
hiop should give us more details under this setting.
Can you save the output and send it to us?

Thanks,

[2022-01-05 04:26] andersp commented on #387
[hiop-out.txt](https://github.com/LLNL/hiop/files/7811986/hiop-out.txt)
Here is the output I got from the run.

[2022-01-05 18:07] nychiang commented on #387
Can you try the following parameters:
[code]

[2022-01-05 18:10] nychiang opened #389 "Dual update within unconstrained problem"
Dual update fails when Quasi-Newton is applied to unconstrained problem.

#387

[2022-01-05 20:20] andersp commented on #387
Now it works. Thanks!

[2022-01-05 21:54] cnpetra commented on #382
We looked into this and there is not much we can do to fix the issue on HiOp's end. Apparently, the error you report for non-MPI HiOp build occurs because you include `mpi.h` after `hiopInterface.hpp` so HiOp defines the MPI surrogate types. Including HiOp header after the MPI header should fix this. Or even better, use `-DHIOP_USE_MPI=ON`

[2022-01-05 21:55] #382 closed

[2022-01-05 23:07] andersp commented on #382
I just checked my code. I include hiopInterface.hpp after mpi.h, so there should be no reason for HiOp to define MPI surrogates.
I can build my code if I first build HiOp with -DHIOP_USE_MPI=ON, but the optimizer fails to find a good solution. I will stick with Ipopt for now.

[2022-01-12 19:29] #387 closed

[2022-01-12 19:29] #389 closed

[2022-01-13 18:58] nychiang opened #394 "Investigate the implementation of `adjustDuals_plh`"
Investigate function `adjustDuals_plh`, which is used to correct bound duals if necessary, to see if further improvement can be done.

[2022-01-13 23:46] cnpetra commented on #381
@nychiang, fyi, the loss of accuracy is caused by large dual multipliers. If you can test the elastic mode you're working on with nlp dense ex3, especially for
[code]

[2022-01-20 03:23] jwang125 opened #396 "Valgrind uninitialized values for raja ex9"
In branch raja-ex9-cpu, valgrind reports unitialized values while the code itself runs correctly. HiOp recourse is on CPU mode and memory space is set to 'UM'. An example memory leak reported by Valgrind is:

[code]

[2022-01-21 20:09] cnpetra commented on #323
closing this, please feel free to reopen

[2022-01-21 20:09] #323 closed

[2022-01-22 02:34] nychiang opened #398 "Possible refactoring of linear solvers code"
Need to re-engineer the linear solvers code, to allow RAJA matrix and RAJA vector to pass the matrix and rhs to the linear solver when mem_space='UM' and compute_mode='cpu' are selected.

@cnpetra @jwang125

[2022-01-24 18:52] cnpetra commented on #398
I've filed this under Issue #275  please let's move the discussion there.

[2022-01-24 18:52] #398 closed

[2022-01-24 20:00] cnpetra opened #399 "Line-search fails close to optimality"
Usually occurs when the primal variables have converged but the duals have not. Possible remedies are to take full (primal and possibly dual step) for a couple of iterations (and also let the alg run normal course). This may be related to "small search directions" mentioned in Section 3.9 of Ipopt implementation paper.

[2022-01-24 22:29] cnpetra commented on #396
what was the final resolution of this?

[2022-01-24 22:33] cnpetra commented on #99
closing this since we're in the review phase now.

[2022-01-24 22:33] #99 closed

[2022-01-25 00:35] jwang125 commented on #396
There is no resolution. We think valgrind failed to pick up the initialization within RAJA loop. With UM memory space, RAJA loop is followed up by a copyFromDevice() so valgrind doesn't complain about uninitialized values anymore. But using default memory for recourse still generates these leaks. But we think we can reasonably move on.

[2022-01-25 02:08] pelesh commented on #396
@jwang125, what do you mean by "using default memory"? Do you mean passing `DEFAULT` parameter to the vector factory? From your valgrind output it looks as if you are creating sequential HiOp vector (class `hiopVectorPar`) somewhere in your RAJA example. I am not sure how mixing sequential (default) and RAJA vectors would work, at least we did not anticipate mixing the two when we implemented them

[2022-01-25 03:26] nychiang commented on #396
@pelesh Let me clarify. He used `cpu` mode and `DEFAULT` memory for the recourse problems. Therefore, as you mentioned, all the HiOp vectors are defined as `hiopVectorPar`. However, the interface uses a RAJA loop to initialize the values, [for example, see here](https://github.com/LLNL/hiop/blob/e7e1dac16c5c8b5d8bdffcbed2deb5c663d1418d/src/Drivers/nlpPriDec_ex9_user_recourse_sparse_raja.hpp#L197).

[2022-01-25 03:36] jwang125 commented on #396
Yes the changes are already made to make UM work with HiOp cpu mode. And there is no memory leaks reported by valgrind. I will state why I think that is at the end.
By default, I meant setting memory space to default and yes hiopVectorPar would be created instead of hiopVectorRajaPar. But the memory leak is not because a hiopVector. It is for double*, or the local_data() inside a hiopVector. We us

[2022-01-25 05:07] pelesh commented on #396
I don't think this is correct. Function `copyFromDevice` does not do anything when you use unified memory. It does something only if you use device memory (i.e. copies data from the device to the host mirror). When using unified memory `local_data()` and `local_data_host()` return the same pointer.

[2022-01-25 05:25] pelesh commented on #396
I am not sure I understand rationale for this. Unified memory means you are using CUDA to allocate memory for your data and cpu mode (a global HiOp setting) suggests you are running your computations on the CPU (host). If you want part of your code to run on GPU and part on CPU, you might want to use unified memory so that CUDA manages your data transfers and then adjust RAJA policies to select wh

[2022-01-25 05:31] pelesh commented on #396
What RAJA execution policy is used when this happens? I noticed you are "borrowing" policies from `hiop_raja_defs.hpp`. I don't think this is a very good idea and definitions in this file probably should not be exposed to the user.

[2022-01-25 05:40] jwang125 commented on #396
This is a temporary step towards using gpu mode and UM. We can't run gpu mode right now with hiop sparse, but we want to make progress towards ex9 working with gpu mode when it's ready. So as a step forward we want make sure UM can run with cpu mode. While doing this, I found memory leaks using default and cpu mode. Policy is `RAJA::cuda_exec<HIOP_RAJA_GPU_BLOCK_SIZE>`. OK, I can replace that. Tha

[2022-01-25 05:43] cnpetra commented on #396
the end goal is to have a RAJA recourse working under compute mode device. PR#392 does only (the first) part of the job and enables memory space UM with device RAJA (hip or cuda) policies and CPU linear solvers. Common sense would say to not use RAJA recourse under default/host memory since the exec policies are device (hip or cuda).  The important thing is that it works fine with UM (and device e

[2022-01-25 05:46] jwang125 commented on #396
@pelesh is right about copyFromDevice. So my current explanation about why UM+cpu reports no memory leaks and why default+cpu does is incorrect. The only thing I'm sure is it has something to do with RAJA. I will update you if I find out why.

[2022-01-25 06:30] jwang125 commented on #396
I changed execution/reduce policy to seq_exec and the valgrind leak is gone. Using cuda_exec in RAJA with default memory space probably caused some memory issues. I think I'm OK with this explanation now.

[2022-01-25 16:07] cnpetra commented on #396
@jwang125 that makes sense

[2022-01-25 16:07] #396 closed

[2022-01-26 21:26] cnpetra opened #401 "Problem with `hiop_options` target"
cmake fails with the following error message when cmake-ing with -DHIOP_DEVELOPER_MODE=ON

[code]

[2022-02-07 19:36] #401 closed

[2022-02-07 22:47] cnpetra commented on #381
closed by pr#408

[2022-02-07 22:47] #381 closed

[2022-02-09 00:37] nychiang opened #409 "Remove fixed variables from gollnlp problems"
Setting `fixed_var` to `remove` fails the gollnlp probems.
Here we have 2 issues:
1. if MPI is used, `vec_distrib_` is set to `nullptr` [at this line](https://github.com/LLNL/hiop/blob/3df707b07a46843c8258f9ee1329549794149ce5/src/Optimization/hiopNlpFormulation.cpp#L220), and fails [the initialization process later](https://github.com/LLNL/hiop/blob/3df707b07a46843c8258f9ee1329549794149ce5/src/Opt

[2022-02-10 21:41] cnpetra opened #410 "Search directions not accurate enough hinders convergence"
Accuracy of search directions needs to be better controlled for the XDYcYd and XYcYd linearizations. Apparently iterative refinement is not good enough. Increase pivot threshold and refactorization is a potential way to address this. Another option (more general) is to use Krylov-based iterative refinement.

[2022-02-10 21:41] cnpetra commented on #410
@nychiang

[2022-02-22 20:24] pelesh opened #416 "Enable Cholesky solver from cuSOLVER lib only when CUDA support is turned on"
Currently, Cholesky solver from NVIDIA's cuSOLVER library is [enabled](https://github.com/LLNL/hiop/blob/develop/src/LinAlg/CMakeLists.txt#L61) whenever GPU use is turned on. This will likely cause issues when building HiOp with HIP for GPU support. I suggest cuSOLVER support should be enabled only if CUDA is turned on. Also see #415.

CC @ashermancinelli @nychiang @kswirydo

[2022-02-22 23:30] pelesh opened #417 "Consider using conditionals instead of preprocessor directives in function `do_lsq_update`"
The logic for selecting linear solver in function `hiopDualsLsqUpdateLinsysAugSparse::do_lsq_update` in file `hiopDualsUpdater.cpp` is implemented as combination of preprocessor directives and conditional statements. Consider replacing preprocessor directives with conditionals where arguments are constant expressions from structure `hiopVersion`. For example, replace
[code]
with
[code]
Eliminating

[2022-02-23 02:47] nychiang opened #418 "HiOp Examples"
Since @pelesh  mentioned the redesign of sparse examples, I think it is also a good idea to reorder/rename the hiop examples like this
[code]
This allow us to add a new example to the desired linear system easily and to keep the name sorted.

@cnpetra

[2022-02-23 23:10] ashermancinelli commented on #244
Have `HiopMax`/`HiopMin` been implemented yet?

[2022-03-02 18:41] cnpetra commented on #418
this file organization is neat. @pelesh any comments?

[2022-03-02 18:45] pelesh commented on #418
I agree. This is also a good time to refactor CMake and move test examples definitions from the root `CMakeLists.txt` file into a hierarchical structure.

[2022-03-02 18:46] cnpetra commented on #336
fixed by PR #414  as long as one sticks to magma master or next release (as of March 2022).

[2022-03-02 18:46] #336 closed

[2022-03-02 22:39] cnpetra commented on #418
yes, it would be a good time indeed. This is refactoring you mentioned recently? I was under the impression that you meant refactoring the example driver code. But CMake refactoring makes more sense...

[2022-03-02 23:15] pelesh commented on #418
There are actually two suggestions I made regarding this:
1. Refactor CMake in hierarchical fashion, so when adding a new example you need to edit only CMake file from that group of examples.
2. Improve command line input options so that one can run multiple tests from the same source/binary. For example, in Sparse group, run examples with Cholesky, LU (on both GPU and CPU) and LDL on CPU by runni

[2022-03-08 17:02] cnpetra commented on #360
it appears that the multipliers are not always scaled back correctly. @nychiang @abhyshr

[2022-03-11 01:51] nychiang opened #423 "Implementation of compounded vectors."
It's better to implement something for blocked vectors, e.g., a wrapper for multiple single vectors in a compound vector.
By doing this, we can have better memory management in HiOp.
For instance, we can avoid unnecessary data transfer [in this function ](https://github.com/LLNL/hiop/blob/2e4afeaa9bf97748b0ff4a0da894b01370b66de8/src/Optimization/hiopKKTLinSys.cpp#L925-L974).

[2022-03-11 15:09] pelesh commented on #423
It might be a good idea to consider vector views that do not own the data, but are used for user/application to read/write from appropriate locations. In the example you are showing, you would allocate only `*ir_x0_` and all the other vectors would be views of different section of `*ir_x0_`. Vector views are lightweight objects and can be allocated on the stack, so the implementation could be quit

[2022-03-11 22:50] #416 closed

[2022-03-14 20:03] pelesh opened #425 "Consider providing explicit options for using cuSOLVER-Cholesky"
As far as I can see, there is no option to explicitly set HiOp to use cuSOLVER-Cholesky linear solver. It seems that HiOp will implicitly use cuSOLVER-Cholesky when model is set to `condensed`, CUDA is enabled, and linear solver is set to `auto`. Considering that Cholesky interface and condensed model are reasonably well tested and stable, it might be a good idea to provide user option to use Chol

[2022-03-14 23:37] pelesh opened #426 "Remove calls to "fake inertia" in cuSOLVER interface and related code"
There are some (obsolete) calls to "fake inertia" in the cuSOLVER interface that were inherited from earlier sparse linear solver interface implementations. These need to be removed in favor of inertia free functions now available in HiOp. Sparse examples need to be updated accordingly.

CC @cnpetra @nychiang @kswirydo

[2022-03-15 19:07] pelesh commented on #425
In #427, I propose to change the name for cuSOLVER-LU option for the sparse linear solver from `cusolver` to `cusolver-lu`. Perhaps we could add `cusolver-cholesky` option for the Cholesky solver from cuSOLVER library? The two are used in different contexts, so it may be a good idea to differentiate between them even though they are from the same library.

[2022-03-15 19:40] pelesh opened #429 "Add option to use cusolverRfRefactor instead of GLU refactorization in cuSOLVER"
Function `cusolverRfRefactor` and related functions from cuSOLVER library allow access to LU factors needed for custom implementation of iterative refinement. Equivalent GLU functions from the same library, while showing better performance, do not provide the same access to the intermediate objects during matrix factorization.

It would be good to provide option in cuSOLVER-LU interface in HiOp fo

[2022-03-15 19:45] pelesh opened #430 "Add iterative refinement for LU linear solver from cuSOLVER library"
Implement iterative refinement on GPU for the LU-based direct solver from cuSOLVER library. GPU direct solvers do not always produce high quality solution and the iterative refinement may be an efficient way to address that.

@cnpetra @nychiang

[2022-03-15 20:49] nychiang commented on #430
@pelesh  FYI, there are two ways to do iterative refinement (IR):
IR_1. based on full KKT residual, do FR (solve compressed system, calculate the values for other variables, and re-evaluate the full KKT residual)
IR_2. based on compressed system residual, e.g., XDYcYd, do IR (solve compressed system and re-evaluate the compressed KKT residual)

I think you and @kswirydo want to implement IR_2, and

[2022-03-17 18:18] cnpetra opened #432 "CSR matrix classes organization"
### Suggestion:

It would be worthwhile to consider having sequential sparse matrix implementation using _unordered_ triplet format and separate thread parallel linear algebra (including RAJA) implementations using CSR format. Triplet sparse matrices would retain CPU-only implementation. The inheritance structure would look something like this:
[code]

### Pros:

1. Currently HiOp is not quite com

[2022-03-17 20:52] cnpetra commented on #423
Vector views is definitely a good idea for performance. But I think the "views" need to implement `hiopVector` interface, otherwise code gets messy. Modifying existing `hiopVector` implementations so that they don't own the data would do this without much effort (plus some methods to create such views based on (start,length) pairs).

But, compound vectors (of views) will still be useful to keep th

[2022-03-17 21:15] pelesh commented on #423
The way I see it, implementing vector view could be as easy as adding another constructor or two to the existing vector class plus a flag indicating if the object owns the data. I agree, having a block (compound) vector object in addition to vector views would indeed help remove explicit pointer arithmetic from algorithm classes without significant performance hit.

[2022-03-18 14:30] pelesh commented on #429
Following @nychiang's comments in #427, it would be good to have refactor routine return info on matrix singularity. As far as I can see, there is a function
[code]
that is regularizing matrix (boosting pivots). My understanding is that `zero` is the threshold when boosting is done and `boost` is the regularization of the pivot. HiOp could get info if the zero threshold was reached through functio

[2022-03-18 20:23] cnpetra commented on #429
looks like that would do it. What are the default values for  `boost` and `zero` (when  `Set...` is not called) ?

[2022-03-18 20:34] cnpetra opened #434 "Enable use of Eigen as ordering package"
Should elevate Eigen from experimental to supported since it offers the fastest and best symmetric orderings for Cholesky factorization.

Currently the headers includes are hardcoded [here](https://github.com/LLNL/hiop/blob/342eb99ec16d45f57a492be1bf1e39cce73995a5/src/LinAlg/hiopLinSolverCholCuSparse.cpp#L68)

Will need to
- [x] add `HIOP_USE_EIGEN` in the build system and remove the hardcoded inc

[2022-03-25 03:56] pelesh opened #437 "Consider using compile-time instead of run-time polymorphism for implementing CSR matrix classes"
HiOp's base sparse matrix class has ~40 pure virtual methods. Classes inheriting from it represent symmetric or general matrices that can be stored in triplet or CSR format with member methods implemented as sequential or thread parallel using RAJA. It is expected that more sparse matrix classes will be added in the future and there is a need to manage the complexity of the linear algebra implemen

[2022-03-25 04:56] pelesh commented on #437
### Short term

Following can be addressed within #436:

Create class template for CSR matrix class inheriting from the base sparse matrix class like this:
[code]
Here template parameter `T` is an execution policy. The implementation of matrix kernels is in header file:
[code]
In this file HiOp specific details are specified such as extracting data pointers and checking object sizes. These should

[2022-03-25 13:59] pelesh commented on #437
### Long term

Using this approach, you could let user select the execution policy by passing as a template parameter like this:

[code]
This would simplify managing options in HiOp and give user more control on execution on different hardware. For example, in our RAJA implementation we hard-wire block size to 256 threads because we don't have a convenient way for user to set it. With minor modifi

[2022-03-25 17:58] ashermancinelli commented on #437
LGTM, however I prefer we not inherit from the exec policy. We can just keep it wrapped up as an inner type alias and keep all it's methods static. I can't think of a reason we should need an _instance_ of the exec delegate. [Here's a more flushed out example of what I mean](https://godbolt.org/z/3P9TKvff9).

[2022-03-29 15:37] cnpetra opened #439 "linear solver selection in LSQ updater"
the (sparse) LSQ updater seems to instantiate linear solver based on the `duals_init_linear_solver_sparse` option only. It should instantiate based on `linear_solver_sparse` (when `duals_update_type` = `lsq`).

@nychiang

[2022-03-29 23:58] #426 closed

[2022-03-30 17:46] cnpetra commented on #410
should be addressed by PR#422 (Krylov-based IR).

leaving it open until we get to clarify FR and SOC

[2022-03-30 21:39] cnpetra commented on #432
closed by PR #436

[2022-03-30 21:39] #432 closed

[2022-03-31 17:44] pelesh commented on #429
This functionality was added as a part of refactoring cuSOLVER interface in #427.

[2022-03-31 17:44] #429 closed, assigned to kswirydo

[2022-03-31 17:47] cnpetra commented on #439
closed by PR #441

[2022-03-31 17:47] #439 closed

[2022-03-31 17:49] cnpetra commented on #417
logic should be more clear now that the "logic" code is much compact (PR #441).

[2022-03-31 17:49] #417 closed

[2022-04-12 21:02] nychiang opened #448 "Add user options to control outer iterative refinement"
Add the following user options to control the KKT (outer) iterative refinement:
1. it_outer_maxit
2. ir_outer_tol

[2022-04-12 21:07] nychiang commented on #448
@pelesh @cnpetra @kswirydo any other suggestions?

[2022-04-12 21:09] nychiang opened #449 "Turn on IR in solving feasibility problems."
Switch on IR when solving feasibility problems.

[2022-04-12 21:15] nychiang opened #450 "Update user manual for v0.6"
Need to update the user manual for v0.6.
Some legacy issues also need to be addressed, e.g., the introduction part mentions only dense and MDS linear systems are supported.

- [x]  update user manual with condensed and normal linear algebra approaches
- [ ] describe newly added hiop options  related to condensed and normal (Kylov outer, relax_bound, elastic_mode, etc) in the user manual
- [x] addr

[2022-04-13 16:35] #357 closed

[2022-04-13 16:35] #348 closed

[2022-04-13 16:36] cnpetra commented on #343
this has been closed by PR #341

[2022-04-13 16:36] #343 closed, assigned to ashermancinelli

[2022-04-13 16:37] #302 closed, assigned to cnpetra, nychiang, pelesh

[2022-04-13 18:29] cnpetra commented on #355
thank you. it has been added under `doc`

[2022-04-13 18:29] #355 closed

[2022-04-14 03:14] nychiang opened #452 "Safe mode with sparse linear solver other than MA57"
The current workflow will replace the sparse linear solver to MA57, even though we set `linear_solver_sparse` to other solvers.

This is due to the fact that `linsol_safe_mode_on` is set to `true` by default in [hiopAlgFilterIPM](https://github.com/LLNL/hiop/blob/083914f0f619fe511abfa3c9031c0926e1a0df02/src/Optimization/hiopAlgFilterIPM.cpp#L1829-L1876) and hence we set `kkt->set_safe_mode(linsol_

[2022-04-14 15:48] #342 closed

[2022-04-14 18:29] cnpetra commented on #452
looks like you're running with `linsol_mode` set to `stable`. I could not reproduce with `speculative`

[2022-04-14 20:21] nychiang commented on #452
yes, you are correct. I am using the default setting which sets `linsol_mode` to `stable`.
Probably we need a safeguard which set `linsol_mode` to `speculative` when CPU solver other than MA57 is given.

[2022-04-16 00:29] pelesh opened #455 "PR #420 accidentally removed cuSOLVER LU tests"
It seems that rebase before merging #420 excluded sparse tests for cuSOLVER LU linear solver. This should be easy to restore in `src/Drivers/Sparse/CMakeLists.txt` file.

[2022-04-19 15:53] cnpetra commented on #437
closing this based on offline discussions.

[2022-04-19 15:53] #437 closed

[2022-04-20 17:28] cnpetra opened #458 "Inertia free strategy selection"
Inertia free should be selected and a warning message should be issued when (i) a linear solver without support for inertia calculation is selected by the user and (ii) the user asked for inertia based.

Inertia free should be selected when (i) a linear solver without support for inertia calculation is selected by the user and (ii) the user did not asked for inertia based.  No warning message shou

[2022-04-20 22:42] #448 closed

[2022-04-25 19:03] abhyshr opened #459 "Discusision: Tracking progress of ExaGO with Cusolver-lu"
@pelesh

ExaGO version: develop
HiOP version: 0.6.0
Machine: Newell

HIOP options:
[code]

ExaGO output for 9-bus case with HIOP verbosity level 10
[code]

[2022-04-25 21:54] nychiang commented on #459
I remember cusolver cannot provide inertia information. Therefore we should use inertia-free algorithm with cusolver.
That is, setting `fact_acceptor` to `inertia_free`.

[2022-04-26 14:13] abhyshr commented on #459
Adding `fact_acceptor` option works and I get a converged solution.

When I am ignoring the line flow constraints (no inequality constraints), I see the following error..
[code]

[2022-04-26 17:04] nychiang commented on #459
Try the latest `develop` branch. I recently fixed this bug.

[2022-04-26 17:07] pelesh commented on #459
Is the fix in v0.6.1? Could you point to the issue or PR?

CC @kswirydo

[2022-05-10 18:39] cnpetra commented on #434
@ashermancinelli any progress towards EIGEN-ready build system?

[2022-05-10 18:41] #376 closed

[2022-05-10 19:42] #425 closed

[2022-05-10 19:44] cnpetra commented on #375
closing this since it looks like features not needed anymore. Please reopen should this be needed.

[2022-05-10 19:44] #375 closed

[2022-05-11 01:29] pelesh opened #466 "Add Ginkgo tests to CI pipeline"
Ginkgo library is not available on HiOp CI test pipelines. If Ginkgo is selected as linear solver, HiOp will notice it is not available in CI build and will default to available solver (MA57 in this case). This gives false positives for Ginkgo tests.

CC @cnpetra

[2022-05-11 17:19] cnpetra opened #468 "`extract_diagonal` issue"
`extract_diagonal` may leave entries uninitialized in the output vector. This entries correspond to diagonal entries that are not part of the nonzeros of the input matrix.

[2022-05-12 13:39] pelesh opened #469 "Sparse Example 2 fails with Ginkgo linear solver"
Sparse Example 2 (formerly Example 7), a nonconvex optimization problem, fails when using Ginkgo solver. The failure is triggered by assertion statement checking if `zl->matchesPattern(nlp->get_ixl())`. Complete error output is below. The same issue happens at all CI pipelines.

[code]

[2022-05-12 13:41] pelesh commented on #469
@fritzgoebel, please take look.

[2022-05-12 14:48] #466 closed

[2022-05-12 20:32] nychiang commented on #469
set `ir_outer_maxit` to `0`

[2022-05-12 20:40] cnpetra commented on #469
@pelesh @fritzgoebel : add a line with `ir_outer_maxit 0` in the `hiop.options` file and see if the error is still present. Just to rule out iterative refinement as a potential source for the error.

[2022-05-13 14:01] fritzgoebel commented on #469
@pelesh I looked at the matrix this example produces and the U factor GLU computes for this example is singular. Since we have not yet completed the implementation of our own factorization, we currently interface GLU to be able to provide an interface to direct solvers in Ginkgo. This will ultimately be replaced with our own direct solver that will hopefully be able to solve problems like this one

[2022-05-13 15:55] #434 closed

[2022-05-13 18:32] pelesh commented on #469
Would it be possible to return information on matrix singularity to HiOp, so it can try to regularize the matrix for you? That could be a good temporary solution, it it is not too difficult to add.

[2022-05-13 20:51] fritzgoebel commented on #469
Sure, I will see on Monday if this is easily doable with the information I get from GLU.

[2022-05-16 22:41] cnpetra opened #473 "compilation error when klu is missing"
[code]

[2022-05-16 22:42] cnpetra commented on #473
@kswirydo @pelesh

[2022-05-17 00:06] pelesh commented on #473
Class `hiopLinSolverSparseCUSOLVER` implements LU factorization with cuSOLVER LU _refactorization_ functions. It requires KLU to perform symbolic factorization. This class should not be built when KLU is not available, so HiOp should build with or without KLU.

How did you build HiOp to get to that error? CMake should have prevented that. Could you provide your CMake build options?

[2022-05-17 03:13] cnpetra commented on #473
isn't KLU turned on when `HIOP_USE_CUSOLVER` is on, [here](https://github.com/LLNL/hiop/blob/658205f4c15893ed42055b2b286b513f090359f2/CMakeLists.txt#L250)?

When `HIOP_USE_CUSOLVER` is on, `hiopLinSolverSparseCUSOLVER` is compiled, but the include of and calls to KLU are not guarded.

[2022-05-17 03:22] pelesh commented on #473
No, the issue is that `hiopLinSolverSparseCUSOLVER` should not be built when KLU is not found. The fix should be to:
1. Rename `HIOP_USE_CUSOLVER` to `HIOP_USE_CUSOLVER_LU` to avoid confusion with ambiguous name
2. If KLU is not found set  `HIOP_USE_CUSOLVER_LU` to `Off` and print warning.

[2022-05-17 03:22] pelesh commented on #473
No, the issue is that `hiopLinSolverSparseCUSOLVER` should not be built when KLU is not found. The fix should be to:
1. Rename `HIOP_USE_CUSOLVER` to `HIOP_USE_CUSOLVER_LU` to avoid confusion with ambiguous name
2. If KLU is not found set  `HIOP_USE_CUSOLVER_LU` to `Off` and print warning.

[2022-05-17 03:28] cnpetra commented on #473
OK, so the CMakefile TODO left [here](https://github.com/LLNL/hiop/blob/658205f4c15893ed42055b2b286b513f090359f2/CMakeLists.txt#L249) does not apply anymore?

[2022-05-17 14:51] pelesh opened #474 "PriDec example fails"
It seems that recent commit to `develop` breaks `NlpPriDec2_mpi` test. When configuring HiOp as
[code]
the PriDec example 2 segfaults:
[code]

[2022-05-17 15:54] cnpetra commented on #474
You're running a release build? I can reproduce the crash on ascent but I get an assert.

[2022-05-17 16:30] cnpetra commented on #399
This behavior appears on and off. For example on ascent

[code]

[2022-05-17 16:55] pelesh commented on #474
This seems to be coming from `EXTRA_CMAKE_ARGS` in `ascentVariables.sh` [script](https://github.com/LLNL/hiop/blame/develop/scripts/ascentVariables.sh#L81).

@ashermancinelli, is there a reason for setting `-g 2` there?

[2022-05-17 18:12] cnpetra opened #475 "build without Magma package"
Currently `HIOP_USE_MAGMA` is set automatically when `HIOP_USE_GPU` is on. Build system should be updated to build other GPU parts of the code without requiring magma.

[2022-05-17 18:25] abhyshr opened #476 "ExaGO crash with v0.6.1"
We are working on updating ExaGO to work with HiOp 0.6.1 and are seeing a crash in our tests when running the MDS solver on GPU with no inequality constraints. All our tests were passing with 0.5.3. Appreciate any inputs you have to resolve this problem.

[code]

@CameronRutherford @ashermancinelli

[2022-05-17 19:12] nychiang commented on #399
@cnpetra NlpSparse3_1 is an infeasible problem and it is expected to fail. I think it is fine since the last objective, `8.2842840e+01`, matches the recorded number.

[2022-05-17 19:42] pelesh commented on #476
@abhyshr, the error message suggests running out of GPU memory. Assuming this is a functionality test, I doubt you exceeded the available memory. I would suggest running same tests on ascent or similar machine to rule out job queuing issues on newell.

[2022-05-17 20:11] cnpetra commented on #476
@nychiang any ideas?

[2022-05-17 22:28] nychiang commented on #476
@abhyshr can you set `ir_outer_maxit` to 0 to see how it works. In addition, can you provide the full output from hiop? Thanks!

[2022-05-18 14:29] pelesh commented on #474
@cnpetra, the example fails whenever it is run on 2 separate resources. For example
[code]
and
[code]
There may be a bug in the example related how Magma is instantiated on separate resources. CC: @jwang125

[2022-05-18 15:47] cnpetra commented on #474
does it fail with two resource sets on other systems, like summit? The underlying issue is that hiop sees two or more devices per MPI process and it craps out intentionally.

[2022-05-18 17:12] cnpetra commented on #468
fixed by PR #463

[2022-05-18 17:12] #468 closed

[2022-05-18 17:13] cnpetra commented on #459
seems a fix has been found. feel free to reopen

[2022-05-18 17:13] #459 closed

[2022-05-18 17:22] cnpetra commented on #418
closed by PR #420

[2022-05-18 17:22] #418 closed

[2022-05-18 17:23] cnpetra commented on #410
FR needs this. SOC does not. Discussion moved to issue #449 .

[2022-05-18 17:23] #410 closed

[2022-05-18 17:28] cnpetra commented on #399
got it.

[2022-05-18 17:28] ashermancinelli commented on #476
You know better than I, but I will say our functionality tests may run with the 2k and 10k bus cases. I'd have to check to see how big of functionality tests we have running in CI though.

[2022-05-18 17:30] cnpetra commented on #409
should add a warning or option preprocessor to not allow for `fixed_var` to be `remove` for MDS.

[2022-05-18 17:35] cnpetra commented on #360
we need to rescale the multipliers both in the user callbacks and in `get_solution`

[2022-05-18 17:36] #353 closed

[2022-05-18 17:38] cnpetra commented on #316
closing this, please feel free to reopen

[2022-05-18 17:38] #316 closed

[2022-05-18 17:39] cnpetra commented on #266
seems that this has been addressed

[2022-05-18 17:40] cnpetra commented on #257
any updates on this? Is this still needed?

[2022-05-18 18:02] ashermancinelli commented on #257
CMake var `HIOP_CTEST_LAUNCH_COMMAND` resolves this.

[2022-05-18 18:02] #257 closed

[2022-05-18 22:17] nkoukpaizan commented on #474
There was an issue with the `jsrun` configuration on Ascent. It should be working now.

[2022-05-19 02:26] cnpetra commented on #474
@pelesh can you please make sure that one of the two jsrun configurations, preferably the first one, is currently being used by the ascent CI? I think it still uses a hack.

[2022-05-19 05:10] jwang125 commented on #474
Late to us. I can test it if necessary.

[2022-05-19 15:43] abhyshr commented on #476
In replying to @cnpetra's comment.

I added it to hiop.options file which is placed in the directory from which I am launching the executable. So, I assume the option gets picked up by HIOP (?). Here are the contents of that file
 
[code]

[2022-05-19 16:27] CameronRutherford commented on #476
Just looking at the backtrace, this seems like a vector is being copied into without it first being allocated https://github.com/LLNL/hiop/blob/develop/src/Optimization/hiopKKTLinSys.cpp#L1662

Does `dx_` in the linked code snipped need to be initialized at some point before this `copyFromStartingAt` function is called?

[2022-05-19 17:15] cnpetra commented on #476
yes, likely a vector of length 0 is being copied ;) -- which umpire does not like/support

[2022-05-20 00:40] nychiang commented on #476
@CameronRutherford @abhyshr
Let me clarify it. HiOp v0.6.2 will allow you to set the option to switch off BiCG iterative refinement, but I don't think it really solves the problem. I believe the problem some around the place where we use umpire to copy a 0-length vector ([see here](https://github.com/LLNL/hiop/blob/8d6d9f338bcee428f8d41fc14786c3149e37a96a/src/LinAlg/hiopVectorRajaPar.cpp#L467-L469

[2022-05-20 16:48] #458 closed

[2022-05-23 19:37] #473 closed

[2022-05-23 19:57] pelesh opened #481 "Use consistent command line interface for HiOp examples"
Currently HiOp is using custom built functions for processing command line input for each example application. A few possible improvements could be:
- Avoiding fall through switch statements for input processing.
- Allowing for arbitrary order of input arguments.
- Having consistent command line interface for all HiOp examples.

Consider using utilities such as [getopt](https://pubs.opengroup.org/

[2022-05-25 13:34] maksud opened #483 "HiOp PriDec Example NlpPriDecEx2.exe Crashes with Large Input"
I have compiled the latest HiOp development branch on Crusher. I was trying to run the example `NlpPriDecEx2.exe` (previously known as `nlpPriDec_ex9.exe`). It runs well with smaller input sizes. However when we try to run it with larger matrix sizes it crashes.

Here is the command I am using:
[code]

Here is the output:

[code]

Previously we have used the example even with an input of `4000` on

[2022-05-25 16:53] cnpetra commented on #483
looks like a seg fault. will take this over email

[2022-05-26 14:13] #476 closed

[2022-06-02 22:35] #469 closed

[2022-06-02 22:38] cnpetra commented on #483
I think this has been addressed by the reverting to the more stable compiler. Will close it now, but feel free to reopen if necessary.

[2022-06-02 22:38] #483 closed

[2022-06-06 21:11] cnpetra commented on #244
@nychiang : random functions also fit here.

[2022-06-08 18:09] #360 closed

[2022-06-08 18:16] cnpetra commented on #244
we also need

- random uniform
- random normal
- absolute value
- min
- max

[2022-06-15 18:19] cnpetra commented on #475
closed by PR#479

[2022-06-15 18:19] #475 closed

[2022-06-21 16:47] cnpetra opened #502 "PNNL CI update to CUDA 11.x"
Following discussion from PR #493 PNNL CI machines need to be updated to CUDA > 11.0
- [x] upgrade marianas to CUDA11.x
- [x] disable CUDA tests on Newell

The next release of HiOp will up CUDA requirements to >= 11.0

@pelesh

[2022-07-01 15:13] pelesh opened #510 "Consider keeping hiopNlpFormulation class hardware agnostic"
In [`hiopNlpFormulation.cpp`](https://github.com/LLNL/hiop/blob/develop/src/Optimization/hiopNlpFormulation.cpp#L69) file a RAJA header is included, which pulls in vendor specific code into `hiopNlpFormulation` class. This is departure from HiOp design approach to keep optimization algorithms generic and implements vendor-specific code in linear algebra kernels.

This issue causes HiOp build failu

[2022-07-01 17:00] cnpetra commented on #7
@nychiang : how stage is the Fortran interface?

[2022-07-01 18:16] #510 closed

[2022-07-01 20:45] nychiang commented on #7
On the platform with AMD GPU, some compiling error happened when `HIOP_BUILD_SHARED` is set to `ON`.
The error message is
`/opt/rocm-4.5.0/amdgcn/bitcode/hip.bc: file not recognized: file format not recognized`

This error prevents HiOp creating all the fortran related examples.

[2022-07-02 01:14] nychiang commented on #7
More details:
When Cmake links libraries from hip toolchain, e.g.,
`target_link_libraries(hiop_hip INTERFACE hip::device Magma)` (Asher's approach)
or
`target_link_libraries(hiop_hip INTERFACE
  hip::hiprand roc::rocrand
  hip::hipfft
  roc::hipblas roc::rocblas
  hip::hipcub roc::rocprim_hip
  Magma
  )` (my modification due to the usage of hiprand),
the new ROCm bitcode library `/opt/rocm-4.5.0/

[2022-07-05 03:07] pelesh commented on #7
@nychiang, as far as I know we used a combination of clang C++ and gcc Fortran compilers to build HiOp with Fortran interface. My understanding is that ROCm bitcode library is specific to the clang intermediate representation and won't work with gcc. If flang is available and mature enough, one should go with that instead of combining different compilers imho.

@ashermancinelli, please chime in.

[2022-07-06 16:15] cnpetra opened #513 "Documentation of sparse linear solver options"
- [ ] Options `linear_solver_sparse` and `linear_solver_sparse_ordering` are not documented in the user manual
- [ ] Code documentation for `linear_solver_sparse` is outdated [here](https://github.com/LLNL/hiop/blob/2b3d219134cfae501a9f05bb334aec9aed847a1c/src/Utils/hiopOptions.cpp#L822)
 - [ ] Code documentation for `linear_solver_sparse_ordering`  is outdated [here](https://github.com/LLNL/hiop/

[2022-07-08 16:30] cnpetra opened #515 "Build and version numbers for HiOp and dependencies"
would be nice to print these in the log summary

[2022-07-12 22:01] cnpetra commented on #502
closed by PR #508

[2022-07-12 22:01] #502 closed

[2022-07-13 17:23] cnpetra commented on #7
PR #514 adds a partial fix and allows using flang compiler on the problematic AMD/ROCm machine. Some investigation is needed to figure out use of gfortran. Nvidia/CUDA machines work fine with generic Fortran compilers.

[2022-07-16 06:30] #430 closed

[2022-07-26 05:19] nychiang commented on #7
The following Fortran examples are given:
For sparse linear system:
https://github.com/LLNL/hiop/blob/develop/src/Drivers/Sparse/NlpSparseExHS071.f
https://github.com/LLNL/hiop/blob/develop/src/Drivers/Sparse/NlpSparseFEx1.f
For dense linear system:
https://github.com/LLNL/hiop/blob/develop/src/Drivers/Dense/NlpDenseConsFEx1.f

[2022-07-26 12:20] jacobwilliams commented on #7
This is great! But can the examples be written in modern Fortran? I don't think there is any reason to use the F77 format nowadays. Do you need some assistance with doing that?

[2022-07-26 20:00] jacobwilliams commented on #7
This is what I have in mind: https://github.com/jacobwilliams/hiop/blob/modern-fortran/src/Drivers/Dense/NlpDenseConsFEx1.f90

[2022-08-03 03:30] kswirydo opened #524 "Outdated summit script"
When I source scripts/summitVariables I am getting the following errors:
 source scripts/summitVariables.sh
`Lmod has detected the following error:  The following module(s) are unknown: "gcc/7.4.0"`
[code]

Lmod has detected the following error:  The following module(s) are unknown: "openmpi/4.0.3"

[code]

[2022-08-03 14:30] pelesh commented on #524
Similar issue is addressed in #522 for newell.

[2022-08-03 21:09] jaelynlitz commented on #524
I don't quite have access to Summit yet, maybe this could go to someone at ORNL in the meantime

[2022-08-08 04:20] cnpetra commented on #7
We would be supportive of using a more recent Fortran for examples. Please feel free to take a shot and PR, our experience with Fortran is limited.

In the meanwhile I suggest we close this issue and open an issue re: examples in modern Fortran.

[2022-08-24 17:04] cnpetra opened #532 "Modern Fortran examples"
Provide f90 examples in addition to or replacing the existing f77 examples. Following up on https://github.com/LLNL/hiop/issues/7

[2022-08-24 17:05] cnpetra commented on #7
Will close this and we track the developement of a more modern F examples in isssue #532

[2022-08-24 17:05] #7 closed

[2022-08-24 17:21] cnpetra opened #533 "provide host callbacks"
- [x] add `iterate_callback_host` and `solution_callback_host` versions that returns host copies of the arrays.
- [x] document the two methods above in the interface header and user manual
- [x] update documentation of `iterate_callback`, `solution_callback`, and the two `get_starting_point` overloads to make it clear the array pointers are on device (see `eval_cons` for an example, also see this

[2022-08-31 19:44] #533 closed

[2022-09-01 02:02] CameronRutherford opened #540 "Ginkgo + CUDA Tests Fail on Marianas"
The error message is here:
[code]

Marianas is CentOS 7 with a max compute capability of 60, and so the current assumption is that there is a bug with that specific build combination (see [here](https://github.com/LLNL/hiop/pull/521#issuecomment-1206800344) in #521 ).

The current test config to `ctest` disables relevant tests, and so it may appear CI is passing: https://github.com/LLNL/hiop/blob/

[2022-09-01 02:16] CameronRutherford commented on #540
Relevant failing test logs in PNNL CI:

<details>
<summary>
NlpSparse1_6 (Click to show logs)

[PNNL Pipeline](https://gitlab.pnnl.gov/exasgd/solvers/hiop-mirror/-/jobs/97388#L3187)

</summary>

[code]
</details>

<details>
<summary>
NlpSparse2_5 (Click to show logs)

[PNNL Pipeline](https://gitlab.pnnl.gov/exasgd/solvers/hiop-mirror/-/jobs/97388#L3797)

</summary>

[code]
</details>

Tagging rele

[2022-09-02 07:51] pelesh commented on #540
CC @maksud

[2022-09-02 18:10] maksud opened #542 "Ginkgo+cuda fails on Ascent if build type is not Debug"
Ginkgo with CUDA fails when HiOp is not built with build type `Debug`. By default, the spack builds with `RelWithDebInfo` therefore the default spack installation fails with the following message:

[code]

However, setting the build type to Debug still doesn't solve the other Ginkgo issue on Summit, Marianas, etc., that is the following error:

[code]

[2022-09-02 18:11] maksud commented on #542
Tagging: @pelesh @nkoukpaizan @cnpetra @fritzgoebel @nychiang @CameronRutherford

[2022-09-12 15:55] #449 closed

[2022-09-21 15:08] CameronRutherford opened #547 "Unable to build with CUDA and without RAJA"
https://github.com/LLNL/hiop/blob/develop/CMakeLists.txt#L273

[2022-09-21 15:08] CameronRutherford commented on #547
cc @fritzgoebel

[2022-09-21 16:34] cnpetra commented on #547
I recently introduced that. I am very much for not having RAJA as dependency for anything cuSparse, but for now we need RAJA vectors in the condensed and normal equations linear systems.

A quick fix would be to not build condensed and normal equations code when RAJA is not present. All the other HIOP_SPARSE =ON code should work without RAJA.

Essentially guard
https://github.com/LLNL/hiop/blob/ea

[2022-09-21 21:36] CameronRutherford commented on #547
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/hiop/package.py

Currently it is valid to build `hiop+ginkgo+cuda` or `hiop+ginkgo+rocm` in the spack package. I think this is what @fritzgoebel was building recently, and so we might want to tweak that CMake logic if that configuration is possible.

Currently `hiop+cuda+cusolver` is also valid, but it seems that we would

[2022-09-27 20:54] pelesh commented on #540
In PR #548 tests are still failing on Marianas, but now with different error messages ([PNNL Pipeline](https://gitlab.pnnl.gov/exasgd/solvers/hiop-mirror/-/jobs/102551)):

<details>
<summary>
NlpSparse1_6 (Click to show logs)

</summary>

[code]
</details>

<details>
<summary>
NlpSparse2_5 (Click to show logs)

</summary>

[code]
</details>

[2022-09-27 20:57] pelesh commented on #542
@maksud, please check if #548 fixes the issue you reported. Ginkgo tests pass on ascent.

[2022-09-28 17:34] #450 closed

[2022-09-30 15:28] #524 closed

[2022-09-30 15:51] cnpetra commented on #547
closed by PR#549

[2022-09-30 15:51] #547 closed

[2022-10-06 18:27] SanPen opened #556 "Submodule not downloaded"
Hi,

I just downloaded the 0.7.0 release on ubuntu 20.04 and after installing missing dependencies (would be cool to list all those for *nix systems) I get this:

[code]

I could indeed clone the repo and follow the instructions, but what would be the point on having a release?
Hence, please, publish a complete release.

Best regards,
Santiago

[2022-10-06 22:24] cnpetra commented on #556
thank you for reporting, we'll look into it

[2022-10-06 23:15] pelesh commented on #556
Santiago, could you please share full output of your cmake execution? Also, what happens when you try to update git submodules manually as the error message suggests?

[2022-10-06 23:29] CameronRutherford commented on #556
This is intended behaviour, but I can see how this is unclear.

CMake error is suggesting that you need to initialise submodule manually per @pelesh's suggestion.

cmake/HiOpCheckGitSubmodules.cmake - our CMake config should run this for you automatically, so I'm surprised you are running into this error. Perhaps `find_package(Git)` is failing, and hence your CMake isn't cloning things.

With resp

[2022-10-17 14:56] cnpetra commented on #556
the same error also reported here: https://github.com/xsdk-project/xsdk-issues/issues/187#event-7594423222

I think it makes sense to not error out when the check for `git submodule` fails. Just give a warning that the eigen needs to be installed manually given that `git submodule` is not available.

[2022-10-17 21:10] cnpetra opened #559 "Undefined reference to hiopMatrixSparseCSRCUDA"
see https://github.com/xsdk-project/xsdk-issues/issues/191

Appears for this combination: `-DHIOP_USE_CUDA:BOOL=ON`  and `-DHIOP_SPARSE:BOOL=OFF`.

Should have guarded with `HIOP_SPARSE` in addition to `HIOP_USE_CUDA` here: https://github.com/LLNL/hiop/blob/d1e5321e0775050ee8670653273dda9604da7ab8/src/LinAlg/hiopLinAlgFactory.cpp#L188

[2022-10-21 02:33] CameronRutherford opened #563 "Support configuration of OpenMP in backend for HiOp"
#562 is a bandaid fix to our OpenMP support.

In order to support specification with Spack/CMake the following needs to happen:

- [ ] Add OpenMP option to CMake that controls when OpenMP is included and linked
- [ ] Set RAJA execution policy to sequential when using RAJA and no GPU backend
- [ ] Add testing with and without OpenMP (unless xSDK testing on MacOS is serving this purpose)
- [ ] In th

[2022-10-21 03:00] cnpetra commented on #563
#240 and #241 are addressed by PR#543. I wanted to schedule meeting to get in sync with you, but didn't have the chance. Expect one the next couple of weeks.

[2022-10-21 21:47] cnpetra commented on #556
Santiago (@SanPen), could you please take look at the new release (https://github.com/LLNL/hiop/releases/tag/v0.7.1) and let us know if it works for you. It should address all the issues you reported.

[2022-10-21 21:52] cnpetra commented on #540
are the tests still failing?

[2022-10-21 21:56] pelesh commented on #563
Shouldn't this read "... when using RAJA and no GPU or OpenMP CPU backed"?

[2022-10-21 22:41] CameronRutherford commented on #563
Agreed. I updated the description

[2022-10-21 22:41] CameronRutherford commented on #540
Yes see #548 for current state of work.

[2022-10-28 23:07] v-dobrev opened #567 "Static CUDA build failure"
I was trying to build HiOp through Spack and noticed that the command
[code]
fails on LLNL's Lassen machine. The errors look like this:
[code]
It looks like HiOp needs to link to `libculibos.a` in this case -- probably by adding it in this list: https://github.com/LLNL/hiop/blob/2164bb6cfb20b21aed03599fd7b9d3dbc1e532fa/cmake/FindHiopCudaLibraries.cmake#L21-L29

As a workaround I was able to build

[2022-10-29 12:31] cnpetra commented on #567
Thanks for reporting and for the suggestion, Veselin. Interesting that it fails on lassen. We run the CI on lassen and everything looks fine. We'll look into it.

@nychiang : can you replicate this on Lassen?

@CameronRutherford any chance this is spack-related?

[2022-10-29 12:32] #556 closed

[2022-10-29 13:20] CameronRutherford commented on #567
https://cmake.org/cmake/help/latest/module/FindCUDAToolkit.html#culibos

The documentation suggests that this is only a static library, and that it shouldn't be touched by consumers.

I'm not sure where this dependency is being pulled in, but we could link to the target directly, or link against some of the static libraries mentioned when building shared.

[2022-10-31 13:40] fritzgoebel commented on #540
Is there a way for me to get access to Marianas? I am failing to reproduce this so far

[2022-10-31 15:25] pelesh commented on #567
@v-dobrev, could you try to build HiOp with CUDA without Spack? If so could you provide output when you `make VERBOSE=1`? I just built afresh from develop branch with CUDA enabled on a similar Power9/V100 machine and I couldn't reproduce this issue.

[2022-10-31 15:47] pelesh commented on #567
The error `undefined reference to culibosEnterCriticalSection` looks like a bug in CMake. On my compile line I get `libculibos.a` correctly recognized by CMake. Below is a snippet from my `make` output.
[code]
@v-dobrev, what is the CMake version you are using?

@CameronRutherford, are you sure we have minimum CMake version correctly specified in Spack and HiOp? I built HiOp with v3.21.3.

[2022-10-31 19:49] CameronRutherford commented on #567
@pelesh CMake version is 3.18 and consistent across CMake and Spack configuration. It's possible we need to bump to 3.20. We should probably always test with minimum versions in CI, so perhaps we should also start enforcing that.

[2022-10-31 22:09] nychiang commented on #567
I have no problem to build hiop on lassen, with cmake/3.20.2. gcc/8.3.1 and cuda/11.7.

[2022-11-01 02:25] pelesh commented on #567
I rebuilt from scratch on Power9/V100 using CMake 3.18 this time and everything still works just fine. I agree with @CameronRutherford, it is unlikely this is a Spack issue -- we use spack builds on all CI pipelines.

[2022-11-04 01:47] v-dobrev commented on #567
In Spack, I have `cmake@3.20.2` configured as external package.

I'm also using `gcc@8.3.1` and `cuda@11.5.0`.

Note that the Spack spec I used results in a pure static build, i.e. the cmake config line has (among other flags): `-DHIOP_BUILD_STATIC:BOOL=ON`, `-DHIOP_BUILD_SHARED:BOOL=OFF`. MAGMA is also enabled because I enable `+cuda`.

I'll try a similar build outside of Spack and I'll report ba

[2022-11-04 02:21] v-dobrev commented on #567
I was able to reproduce the issue outside of Spack on Lassen using following steps:

Load the following modules:
[code]
resulting in the following loaded modules:
[code]
Then clone HiOp and run:
[code]
And finally run make:
[code]
The error happens when linking the first test:
[code]

[2022-11-04 03:58] jwang125 commented on #567
I can reproduce this on develop. Changing two options though, can make compiling successful. They are:
`-DHIOP_BUILD_SHARED=ON `
and add
`-DLAPACK_LIBRARIES='-llapack -lblas'` .

[2022-11-04 08:04] nychiang commented on #567
@v-dobrev
There are two issues here:
1. It seems `culibos` is a legacy issue and that should have been fixed since CMAKE v3.17
See [[1]](https://forums.developer.nvidia.com/t/cudnn-static-linking-error/60707) [[2]](https://github.com/svenevs/cmake-cuda-targets) [[3]](https://github.com/svenevs/cmake-cuda-targets#culibos). I have added `culibos` into our cmake file when one asks for a static build.

[2022-11-04 17:29] cnpetra commented on #559
fixed by PR #560

[2022-11-04 17:29] #559 closed

[2022-11-04 20:07] cnpetra commented on #567
I also think issue #567 is related to Lassen's CUDA libs. But will merge since this PR seems harmless (time will tell).

[2022-11-04 20:08] #567 closed

[2022-11-23 21:40] pelesh opened #571 "Spack does not configure cuSOLVER LU dependency"
The Spack package for HiOp variant `cusolver` sets a CMake option that is not present in HiOp anymore:
[code]
The correct flag is `HIOP_USE_CUSOLVER_LU`. It is used to set up KLU+cuSOLVER refactorization linear solver. Installing HiOp with Spack and `+cusolver` option does not build cuSOLVER LU module and its tests. No error message is returned. This will likely cause issues in packages like ExaGO

[2022-11-30 23:02] pelesh commented on #542
Fixed in #548 and #551.

[2022-11-30 23:02] #542 closed

[2022-11-30 23:02] pelesh commented on #540
Fixed in #548 and #551.

[2022-11-30 23:02] #540 closed